# Git files
.git
.gitignore

# Node modules
node_modules

# Next.js build output (we build it inside the container)
.next

# Docker files
Dockerfile
.dockerignore

# Env files (sensitive info should be injected at build/runtime)
.env*
!.env.example # Allow example env file
# Ensure .env.production is ignored by COPY . .
.env.production

# Log files
*.log

# Editor config
.vscode
.idea

# OS files
.DS_Store
Thumbs.db

# Test reports (if any)
coverage

# Ignore temporary secret files created by Cloud Build step 0
FIREBASE_API_KEY_FILE
FIREBASE_AUTH_DOMAIN_FILE
FIREBASE_PROJECT_ID_FILE
FIREBASE_STORAGE_BUCKET_FILE
FIREBASE_MESSAGING_SENDER_ID_FILE
FIREBASE_APP_ID_FILE